[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
ipython = "*"

[packages]
Django = "*"
django-smart-selects = "*"
"psycopg2-binary" = "*"
django-environ = "*"
whitenoise = "*"

[requires]
python_version = "3.6"
