[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
ipython = "*"
django-debug-toolbar = "*"

[packages]
Django = "*"
"psycopg2-binary" = "*"
django-environ = "*"
whitenoise = "*"
django-smart-selects = {git = "https://github.com/digi604/django-smart-selects.git", ref = "js-unlinting-fixes"}

[requires]
python_version = "3.6"
