{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
{{ form.media }}
{% endblock %}

{% block content %}
<h1>Werkzeug hinzufügen</h1>
<form method="post" action="" class="form-horizontal">
    {% csrf_token %}
    {{ form.non_field_errors }}
    
    {% for field in form %}
        {% if field.html_name == "machine" %}
            {{ field }}
        {% else %}
            <div class="form-group">
                {{ field.errors }}
                <label for="id_{{ field.html_name }}" class="col-lg-2 control-label">{{ field.label }}</label>
                <div class="col-lg-10">{{ field }}</div>
            </div>
        {% endif %}
    {% endfor %}
    
    
    
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <input type="submit" class="btn btn-primary" value="Speichern"></input>
            <a href="{% url "list_tools" machine.pk %}" class="btn btn-default">Abbrechen</a>
        </div>
    </div>
    
</form>
{% endblock %}
