{% extends "base.html" %}

{% block title %}Werkzeugliste {{ maschine.name }}{% endblock %}

{% block content %}
<h1>Werkzeugliste {{ maschine.name }}</h1>
<a href="{% url "add" machine.pk %}">Werkzeug hinzufügen</a>
<table class="table table-striped">
<tr>
    <th><a href="{% url "list_tools" machine.pk %}">#</a></th>
    <th><a href="{% url "list_tools" machine.pk %}?sort=type">Typ</a></th>
    <th>Werkzeug</th>
    <th>&Oslash;</th>
    <th>z</th>
    <th>r</th>
    <th>Ap</th>
    <th><a href="{% url "list_tools" machine.pk %}?sort=holder">Aufnahme</a></th>
    <th>Spann&Oslash;</th>
    <th>Kühlung</th>
    <th>Winkel</th>
    <th>&Delta;l</th>
    <th>&Delta;r</th>
    <th>Status</th>
    <th>Bearbeiten</th>
    <th>Löschen</th>
</tr>
{% for entry in entries %}
<tr class="trigger_comment {% if entry.status == 2 %}closet{% endif %}">
    <td>{{ entry.number }}</td>
    <td>{{ entry.type.name }}</td>
    <td>{{ entry.tool.name }}</td>
    <td>{{ entry.diameter }}</td>
    <td>{% if entry.cog_count %}{{ entry.cog_count }}{% endif %}</td>
    <td>{% if entry.edge_radius %}{{ entry.edge_radius }}{% endif %}</td>
    <td>{% if entry.chip_flute_length %}{{ entry.chip_flute_length }}{% endif %}</td>
    <td>{{ entry.holder.name }}</td>
    <td>{% if entry.pliers %}{{ entry.pliers }}{% endif %}</td>
    <td>{{ entry.cooling.name }}</td>
    <td>{% if entry.angle %}{{ entry.angle }}&deg;{% endif %}</td>
    <td>{% if entry.length %}{{ entry.length }}{% endif %}</td>    
    <td>{% if entry.radius %}{{ entry.radius }}{% endif %}</td>
    <td>{{ entry.get_status_display }}</td>
    <td><a href="{% url "edit" entry.pk %}">Bearbeiten</a></td>
    <td><a href="{% url "remove" entry.pk %}">Löschen</a></td>
</tr>

<tr class="comment">
    <td>&nbsp;</td>
    <td colspan="15">{% if entry.comment %}{{ entry.comment }}{% endif %}</td>
</tr>

{% endfor %}
</table>
{% endblock %}
