{% extends "base.html" %}

{% load i18n %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="col-sm-4 col-sm-offset-4">
                    {% if form.errors %}
                        {{ form.errors }}
                        <br>
                        <p class="alert alert-danger">
                            Falscher Benutzername oder Passwort
                        </p>
                    {% endif %}
                    <div class="form-group">
                        <label for="username">Benutzername</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Passwort</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>

                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                    <input type="submit" value="{% trans 'Login' %}">

                </div>
            </form>
        </div>
    </div>
{% endblock %}
